pulumi_content: |-
  #!/bin/sh
  echo "Kubeconfig path is: $KUBECONFIG"
  pulumi stack select dev
  pulumi up --yes
  pulumi stack output kubeconfig --show-secrets >$KUBECONFIG
  echo "kubeconfig--"
  pulumi stack output --show-secrets
  #echo $KUBECONFIG
pulumi_git_path: aws-go-eks
pulumi_uninstall: |-
  #!/bin/sh
  pulumi stack select dev
  pulumi destroy --yes
lastUpdatedBy: Garvit Jethwani
lastUpdatedOn: 2023-01-11T07:07:27.631Z
