pulumi_content: |
  #!/bin/sh

  pulumi stack init dev
  pulumi config set aws:region us-east-1
  pulumi up
  pulumi stack output kubeconfig --show-secrets >kubeconfig.json
  KUBECONFIG=./kubeconfig.json kubectl get nodes
  pulumi destroy --yes
  pulumi stack rm --yes
pulumi_git_path: aws-go-eks
pulumi_uninstall: |-
  #!/bin/sh

  pulumi destroy
lastUpdatedBy: Yash Upadhyay
lastUpdatedOn: 2022-12-15T11:07:40.367Z
