pulumi_content: |-
  #!/bin/sh

  aws --version
  go version
  pulumi stack select dev
  pulumi config set aws:profile platform
  pulumi destroy --yes

  #pulumi config set aws:region us-west-1
  #pulumi up --yes
  #pulumi stack output kubeconfig --show-secrets >kubeconfig.json
  #KUBECONFIG=./kubeconfig.json kubectl get nodes
  #echo "kubeconfig--"
  #pulumi stack output --show-secrets
  #echo $KUBECONFIG 
  env
pulumi_git_path: aws-go-eks
pulumi_uninstall: |-
  #!/bin/sh

  pulumi destroy --yes
  pulumi stack rm --yes
lastUpdatedBy: Garvit Jethwani
lastUpdatedOn: 2022-12-21T16:05:11.963Z
