pulumi_content: |-
  #!/bin/sh
  #echo "Kubeconfig path is: $KUBECONFIG"
  #pulumi stack select dev
  #pulumi up --yes
  #pulumi stack output kubeconfig --show-secrets >$KUBECONFIG
  #echo "kubeconfig--"
  #pulumi stack output --show-secrets

  pulumi stack select dev
  pulumi destroy --yes

  echo "Pulumi Working directory"
  echo $PWD
pulumi_git_path: aws-go-eks
pulumi_uninstall: |-
  #!/bin/sh

  pulumi destroy
lastUpdatedBy: Vivek K B
lastUpdatedOn: 2023-02-07T11:49:42.785Z
