pulumi_content: |-
  #!/bin/sh

  pulumi stack select dev
  pulumi config set aws:region us-west-1
  echo $AWS_REGION
  cat /home/ubuntu/.aws/credentials
  cat ~/.aws/credentials
  pulumi up --yes
  pulumi stack output kubeconfig --show-secrets >kubeconfig.json
  KUBECONFIG=./kubeconfig.json
  echo "kubectl "
  kubectl get nodes
  echo "kubeconfig--"
  pulumi stack output --show-secrets
  #echo $KUBECONFIG
  env
pulumi_git_path: aws-go-eks
pulumi_uninstall: |-
  #!/bin/sh

  pulumi destroy --yes
  pulumi stack rm --yes
lastUpdatedBy: Yash Upadhyay
lastUpdatedOn: 2023-01-09T10:50:30.186Z
