TF_Content: |-
  #!/bin/sh
  #echo "Kubeconfig path is: $KUBECONFIG"
  #pulumi stack select dev
  #pulumi up --yes
  #pulumi stack output kubeconfig --show-secrets >$KUBECONFIG
  #echo "kubeconfig--"
  #pulumi stack output --show-secrets

  pulumi stack select dev
  pulumi destroy --yes
TF_Git_path: aws-go-eks
TF_Uninstall: |-
  #!/bin/sh

  terraform destroy
lastUpdatedBy: Vivek K B
lastUpdatedOn: 2023-02-07T11:45:08.682Z
